{% extends "base.html" %}
{% load bootstrap3 %}
{% load i18n %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-5">
        <form method="post" action="." autocapitalize="off">
            <legend>{% trans "Log in to an existing account" %}</legend>
            {% csrf_token %} 
            {% bootstrap_form form %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <p><a href="{% url 'account_password_reset' %}">{% trans "Forgot your password?" %}</a></p>
            {% buttons %}
            <button type="submit" class="btn btn-primary">{% trans 'Log in' %}</button>
            {% endbuttons %}
        </form>

        <p>{% trans "Don't have an account" %}? <strong><a href="{% url 'account_signup' %}">{% trans "Sign up" %}</a></strong></p>
    </div>
</div>
{% endblock %}
