{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Edit Profile Info" %}{% endblock %}

{% block js %}
{{ form.media }}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-5">
        <p>
        <strong><a href="{% url 'profile' user.username %}">{% bootstrap_icon 'chevron-left' %} Back to profile</a></strong>
        <a href="{% url 'edit_profile_picture' %}" class="pull-right">{% bootstrap_icon 'camera' %} Edit profile picture</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <form enctype="multipart/form-data" method="post" action="{% url 'edit_profile' %}">
            <legend>{% trans "Edit Profile Info" %}</legend> 
            {% csrf_token %} 
            {% bootstrap_form form %}

            {% buttons %}
            <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
            {% endbuttons %}
        </form>
    </div>
</div>

{% endblock %}
