{% extends "base.html" %}
{% load bootstrap3 %}
{% load friendshiptags %}

{% block title %}Your profile{% endblock %}

{% block content %}
{% if is_friend or user == userprofile.user %}
<div class="row">
    <div class="col-md-4">
        {% if userprofile.profile_picture %}
        <p><img src="{{ userprofile.profile_picture.url }}"/></p>
        {% endif %}
        {% if userprofile.name %}
        <p>{{userprofile.name}}</p>
        {% else %}
        <p>{{userprofile.user.username}}</p>
        {% endif %}
        <p><a href="#">{{ friends|length }} friend{% if friends|length != 1 %}s{% endif %}</a></p>
        {% if userprofile.address_line_1 or userprofile.address_line_2 or userprofile.address_city or userprofile.address_state or userprofile.address_code or userprofile.address_country %}
        <p>Address:</p>
        <ul class="list-unstyled">
            {% if userprofile.address_line_1 %}
            <li>{{ userprofile.address_line_1 }}</li>
            {% endif %}
            {% if userprofile.address_line_2 %}
            <li>{{ userprofile.address_line_1 }}</li>
            {% endif %}
            {% if userprofile.address_city or userprofile.address_state or userprofile.address_code %}
            <li>{{ userprofile.address_city }}, {{ userprofile.address_state }} {{ userprofile.address_code }}</li>
            {% endif %}
            {% if userprofile.address_country %}
            <li>{{ userprofile.address_country }}</li>
            {% endif %}
        </ul>
        {% endif %}
        <br/>
        {% if user == userprofile.user %}
        <a href="{% url 'edit_profile' %}" class="btn btn-primary">{% bootstrap_icon 'edit' %} Edit profile</a>
        {% endif %}
    </div>
    <div class="col-md-8">

    </div>
</div>
{% else %}
<p>It appears you are not friends with {{ userprofile.user.username }}.</p>
{% if sent_request %}
<p>You have already sent a <a href="{% url 'friendship_requests_detail' sent_request.pk %}">friend request</a>.</p>
{% elif received_request %}
<p>They have sent you a <a href="{% url 'friendship_requests_detail' received_request.pk %}">friend request</a>.</p>
{% else %}
<form method="post" action="{% url 'friendship_requests_send' userprofile.user.pk %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Send friend request</button>
</form>
{% endif %}
</div>
{% endif %}
{% endblock %}
