{% load cropping %}
{% load staticfiles %}

<div class="row">
    <p>
{% if fr.from_user == user %}
{# outgoing friend requests #}

<div class="col-xs-8">
    {% if fr.to_user.userprofile.profile_picture %}
    <img src="{% cropped_thumbnail fr.to_user.userprofile 'cropping' scale=0.10 %}" class="profile-thumb" width="43px" height="43px">
    {% else %}
    <img src="{% static 'images/profile.svg'%}" onerror="{% static 'images/profile.png' %}" class="profile-thumb" width="43px" height="43px">
    {% endif %}
    Sent friend request to <a href="{% url 'profile' fr.to_user.username %}">{{ fr.to_user.username }}</a>.
</div>
<div class="col-xs-4">
    <form class="form" method="post" action="{% url 'friendship_requests_cancel' fr.pk %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger pull-left">Cancel request</button>
    </form>
</div>

{% elif fr.to_user == user %}
{# incoming friend requests #}

{% if fr.rejected %}
<div class="col-xs-12">
    {% if fr.from_user.userprofile.profile_picture %}
    <img src="{% cropped_thumbnail fr.from_user.userprofile 'cropping' scale=0.10 %}" class="profile-thumb" width="43px" height="43px">
    {% else %}
    <img src="{% static 'images/profile.svg'%}" onerror="{% static 'images/profile.png' %}" class="profile-thumb" width="43px" height="43px">
    {% endif %}
    Rejected friend request from <a href="{% url 'profile' fr.from_user.username %}">{{ fr.from_user.username }}</a>.
</div>

{% else %}
<div class="col-xs-8">
    {% if fr.from_user.userprofile.profile_picture %}
    <img src="{% cropped_thumbnail fr.from_user.userprofile 'cropping' scale=0.10 %}" class="profile-thumb" width="43px" height="43px">
    {% else %}
    <img src="{% static 'images/profile.svg'%}" onerror="{% static 'images/profile.png' %}" class="profile-thumb" width="43px" height="43px">
    {% endif %}
    Received friend request from <a href="{% url 'profile' fr.from_user.username %}">{{ fr.from_user.username }}</a>.
</div>
<div class="col-xs-4">
    <form class="form-inline" method="post">
        {% csrf_token %}
        <div class="btn-group pull-left">
            <button type="submit" formaction="{% url 'friendship_requests_accept' fr.pk %}" class="btn btn-primary">Accept</button>
            <button type="submit" formaction="{% url 'friendship_requests_reject' fr.pk %}" class="btn btn-default">Reject</button>
        </div>
    </form>
</div>

{% endif %}

{% endif %}
    </p>
</div>
